*{
    margin: 0;
    padding: 0;
}

.light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }  

  body.dark p {
    color: white;
  }