*{
  margin: 0;
  padding: 0;
}

body{
  background-color: blueviolet;
}

.user_profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main{
  width: 300px;
  background: black;
  margin-bottom: 20px;
}

.user_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.user_info h2{
  font-size: 22px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 15px;
}

.user_info span{
  letter-spacing: 1.3px;
  color: white;
  font-family: sans-serif;
  margin-top: 3px;
}

.user_info p{
  color: silver;
  margin-top: 3px;
  font-size: 14px;
  letter-spacing: 1.3px;
  font-family: sans-serif;
}

.buttons{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttons button{
  width: 100px;
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
  background-color: bisque;
}

.about_div{
  padding: 14px;
}

.about_div h3{
  font-family: sans-serif;
  margin-top: 20px;
  color: white;
}

.about_div p{
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 1.3px;
  color: white;
}

.interest_div{
  padding: 14px;;
}

.interest_div h3{
  font-family: sans-serif;
  color: white;
}

.interest_div p{
  letter-spacing: 1.3px;
  margin-top: 10px;
  font-family: sans-serif;
  color: white;
}

@media(width<400px){
  .main{
    width: 92%;
  }
  .user_info img{
    width: 100%;
  }
}